body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bold{
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.normal{
	font-weight: normal;
}

input[type=radio],
input[type=checkbox] {
	margin-right: 5px;
	margin-left: 15px;
	vertical-align: text-top;
}

#title, #description, #internal-notes {
	width: 80%;
}