body {
  padding: 50px;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.normal {
	font-weight: normal;
}
.group {
	margin: 20px auto;
}

.measurements {
	margin-top: 35px;
}

input[type=radio],
input[type=checkbox] {
	margin-right: 5px;
	margin-left: 15px;
	vertical-align: text-top;
}

#title, #description, #internal-notes {
	width: 80%;
}


.block * {
	display: block;
}

.unit {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

.inlineBlock * {
	display: inline-block;
}

.restricted {
	margin-top: -20px;
	margin-left: 0px;
}



